.App {
  height: 100vh;
  display: flex;
  color: white;
  background:white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotateZ(360deg); }
}

.App-title {
    margin:0px;
    padding-left:10px;
    font-weight:bold;
}
.App-header {
  background-color: #222;
  background-color: #2E4158;
  height: 50px;
  padding: 10px;
  color: white;
}

.App__Aside {
  width: 25%;
  text-align: center;
  color: #2E4158;
  padding: 0 25px;
  overflow-x:scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.App__Aside td:hover {
    background:#ddd;
}

.App__Form {
  width: 75%;
  padding: 25px 40px;
  overflow: auto;
  color: #2E4158;
}
input {
    border: 1px solid !important;
    color: #2E4158;
}
.label {
    font-weight:bold;
}
.large {
    margin:5px;
    width:100%;
}

.FormCenter {
  margin-bottom: 20px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.Logo {
  height: 40px;
  width: 40px;
  margin: 10px;
}
table tr td {
    cursor:pointer;
}
input {
    height:2rem !important;
    width:100%;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 1.7rem;
        margin-top:12px;
    }

}
@media screen and (max-width: 1023px) {
    h1 {
        font-size: 2rem;
        margin-top:12px;

    }
    .Logo {
      height: 20px;
      width: 20px;
      margin: 10px;
    }
}

.App__Data {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    padding: 10px;
}

.button {
  background-color: #2E4158; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width:250px;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}
.App_Align {
    margin:auto;
    right:45%;
    top:45%;
    bottom:0;
    position:absolute;
    z-index:100;
}
#overlay {
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5) !important; /* Black background with opacity */
    cursor: pointer;
    z-index:100;
    position:fixed;
}
.FormField .row div p input {
    width: 50%;
}
